# Dépendances
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de cache
.cache
.turbo

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea

# Autres
*.tsbuildinfo
next-env.d.ts
pnpm-lock.yaml
package-lock.json
yarn.lock
